:root {
    --section-background-color: #EDF1D6;
    --btn-margin: 20px;
}

.first-text,
.second-text,
.third-text {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
}

.first-text {
    white-space: nowrap;
    color: #40513B;
    padding: 160px 0 120px 0;
    background-color: var(--section-background-color);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.ftext-in {
    font-size: 18px;
}

.first-text .ftext {
    max-width: 500px;
    flex: 1;
}

.second-text {
    color: #40513B;
    margin-top: -24px;
    padding: 160px 0 200px 0;
    background-color: #9DC08B;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.third-text {
    color: #2d392a;
    margin-top: -24px;
    padding: 160px 0 160px 0;
    background-color: #609966;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.first-img {
    width: 400px;
    height: 400px;
}

.second-img {
    width: 400px;
    height: auto;
}

.third-img {
    width: 400px;
    height: auto;
}

.discord-btn {
    width: 176px;
    height: 62px;
    background-color: #747eec;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: var(--btn-margin);
    gap: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.discord-img {
    width: 140px;
    height: auto;
}

.exp-btn {
    margin-left: -10px;
    display: flex;
}

.web-btn {
    background-color: #609966;
    width: 176px;
    height: 62px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--btn-margin);
    gap: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.web-img {
    padding-left: 6px;
    width: 36px;
    height: auto;
}

.web-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0 8px;
    font-size: 30px;
    color: #EDF1D6;
}

@media (max-width: 1000px) {    
    .first-text,
    .second-text,
    .third-text {
        font-size: 16px;
    }
    
    .first-text,
    .second-text,
    .third-text::before {
        content: " ";
    }
}
