:root {
    --section-background-color: #EDF1D6;
}

.first-text {
    padding: 160px 0 120px 0;
    background-color: var(--section-background-color);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.first-text .ftext {
    max-width: 500px;
    flex: 1;
}

.second-text {
    margin-top: -24px;
    padding: 160px 0 200px 0;
    background-color: #9DC08B;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.third-text {
    margin-top: -24px;
    padding: 160px 0 160px 0;
    background-color: #609966;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.first-img {
    width: 400px;
    height: 400px;
}

.second-img {
    width: 400px;
    height: auto;
}

.third-img {
    width: 400px;
    height: auto;
}