.site-header {
  width: 100%;
  max-width: 100%;
  padding: 16px 0;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 18px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.mainlogo {
  width: 50px;
  height: auto;
  padding-left: 92px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex: 1;
  margin-right: -40px;
}

.info-link,
.nav-right a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold; 
  white-space: nowrap;
}

.nav-right {
  margin-left: -60px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: visible; 
}

.lang-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.langicon {
  width: 20px;
  height: 20px;
}

.language-dropdown {
  position: absolute;
  top: 100%;
  left: 100px; 
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
  width: 150px;
  z-index: 2000;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.language-dropdown.show {
  max-height: 300px; 
  opacity: 1;
}


.language-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.language-dropdown li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .nav-center,
  .nav-right {
    display: none;
  }
}

.checkmark {
  margin-left: auto;
  margin-left: 2px;
  visibility: hidden;
}

.language-dropdown li.selected .checkmark {
  visibility: visible;
}

.flag-img {
  width: 20px;
  height: auto;
}