.first-div {
    padding: 100px;
    background-color: #EEEEEE;
}

.path-div {
    padding: 100px;
    background-color: #FFD369;
}

.help-div {
    padding: 100px;
    background-color: #393E46;
    color: #EEEEEE;
}